/*
 * Main Layout
 */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


.main {
  position: relative;
  z-index: z('main__content');
  background: susy-svg-grid() no-repeat scroll;

}

.container {
  padding: 0 10px;

  @include container;
}

.content {
}

.sidebar {
}

[tabindex]:focus {
  outline: none;
}
