/*
 * Main Layout
 */

html {
  box-sizing: border-box;
  background-color: $darkcolor;

  &:after {
    @include pseudo__content;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    opacity: .5;
    background-image: url("#{$images}/bg/plus.svg");
    background-position: center top;
    background-attachment: fixed;
  }
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  min-height: 100vh;
  overflow: hidden;

  & > canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.main {
  position: relative;
  z-index: z('main__content');
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
}

.container {
  padding: 0 10px;
  @include container;
}

.sidebar {}

[tabindex]:focus {
  outline: none;
}
