//Inconsolata for main text
@font-face {
  :global {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-style: normal;
    src: url("#{$fonts}/Inconsolata/Inconsolata-Regular");
    src: url("#{$fonts}/Inconsolata/Inconsolata-Regular.woff2") format("woff2"),
      url("#{$fonts}/Inconsolata/Inconsolata-Regular.woff") format("woff");
  }
}

// @include declare-font-face("Inconsolata", "#{$fonts}/Inconsolata/Inconsolata-Regular"); //regularx400
// @include declare-font-face("Inconsolata", "#{$fonts}/Inconsolata/Inconsolata-Bold", bold); //boldx700