/**
 * Main colors
 */
$primary: #4614D6;
$primary--saturated: #3CFAFE;

$second: #FF7E49;
$second--lighter: #FF973D;
$second--saturated: #FFC649;
$second--darker: #F94F4F;

$third: #EB2678;
$third--saturated: #FC08F8;
$third--darker: #994BF6;


/**
 * Light and Dark colors
 */
$lightcolor: #EFEFEF;
$darkcolor: #060826;
$textcolor: $lightcolor;

/**
 * Grey colors
 */
$maingrey: #ddd;
$darkgrey: #333;
$mediumgrey: #999;
$lightgrey: #ddd;

/**
 * Contextual colors
 */
$error: #8a1f11;
$error--second : #fbe3e4;

$notice: #514721;
$notice--second : #fff6bf;

$success: #264409;
$success--second : #e6efc2;

$info: #205791;
$info--second : #d5edf8;

/**
 * Positioning
 */
$zi: 1;

/**
 * Spacing
 */
$sp: 30px;

$spxxxl: $sp*6; // 180px
$spxxl: $sp*3; // 90px
$spxl: $sp*2; // 60px
$spl: $sp/2*3; // 45px
$sps: $sp*2/3; // 20px
$spxs: $sp/2; // 15px
$spxxs: $sp/3; // 10px
$spxxxs: $sp/6; // 5px

/**
 * Border
 */
$brdc: $lightgrey;
$brd: 1px solid $brdc;

/**
 * Border Radius
 */
$br: 3px;

/**
 * Font Family
 */
$sans-serif: Arial, Helvetica, sans-serif;
$serif: Times, Georgia, serif;

$mainfont: Roboto, sans-serif;
$subfont: Circular, sans-serif;

/**
 * Font Size
 */
$fsz: 16px;
$hfsz: 25px;

/**
 * Line Height
 */
$lh: 1.4;
$hlh: 1.2;
