/**
 * Main colors
 */
$primary: #F1E25B;
$secondary: #F1E25B;
$third: #F1E25B;

$textcolor: #333;

/**
 * Light and Dark colors
 */
$lightcolor: #fff;
$darkcolor: #000;

/**
 * Grey colors
 */
$maingrey: #ddd;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

/**
 * Contextual colors
 */
$errorcolor-1 : #8a1f11;
$errorcolor-2 : #fbe3e4;

$noticecolor-1 : #514721;
$noticecolor-2 : #fff6bf;

$successcolor-1 : #264409;
$successcolor-2 : #e6efc2;

$infocolor-1 : #205791;
$infocolor-2 : #d5edf8;

$theme-colors: (primary: #525ddc);

/**
 * Positioning
 */
$zindex: 1;

/**
 * Spacing
 */
$space: 30px;

$space-xxxl: $space*6; // 180px
$space-xxl: $space*3; // 90px
$space-xl: $space*2; // 60px
$space-l: $space/2*3; // 45px
$space-s: $space*2/3; // 20px
$space-xs: $space/2; // 15px
$space-xxs: $space/3; // 10px
$space-xxxs: $space/6; // 5px

/**
 * Border
 */
$border-color: $light-gray;
$base-border: 1px solid $base-border-color;

/**
 * Border Radius
 */
$base-border-radius: 3px;

/**
 * Font Family
 */
$font-sansserif: Arial,
Helvetica,
sans-serif;
$font-serif: Times,
Georgia,
serif;

$customfont-1: Roboto,
sans-serif;
$customfont-2: Circular,
sans-serif;

/**
 * Font Size
 */
$base-fz: 16px;
$heading-font-size: 25px;

/**
 * Line Height
 */
$base-lh: 1.4;
$heading-line-height: 1.2;
